apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: todo-app
        image: chetankumar01/todo-app-be:2
        ports:
        - containerPort: 3000
        volumeMounts:
          - name : env-file
            readOnly: true
            mountPath: "/app/secret/"
      volumes:
       - name: env-file
         secret:
           secretName: backend-secrets
