apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: todo-app
        image: chetankumar01/todo-app-be:1
        ports:
        - containerPort: 3000
        env: 
        - name: PORT
          valueFrom: 
            configMapKeyRef:
              name: backend-config
              key: port
        - name: DB_URL
          valueFrom: 
            secretKeyRef:
              name: backend-secrets
              key: db_url
